@model Entities.Concrete.Photo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<div class="col-md-8 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
        @Model.Description
    </h3>

    <div class="blog-post">
        <img src="@Model.Url" class="img-fluid" alt="Responsive image">
       
    </div><!-- /.blog-post -->

    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <nav class="blog-pagination">
            <input type="submit" value="Sil"  class="btn btn-outline-primary"/> |
            <a class="btn btn-outline-secondary" href="/Photo/Index" tabindex="-1" aria-disabled="true">Galeriye dön</a>
        </nav>
    }

   

</div>

